* {font-family: 'Amiko', sans-serif !important;}

body {background-color: 36474F; color: #EEEEEE; text-align: center;}

hr {width: 40%;}
a {color: #AAA;}

.header {margin-bottom: 2rem;}
.title {font-size: 48pt;}
.company {margin-top: -3rem; margin-bottom: -0.25rem; font-size: 13pt;}

.tagline {padding-top: 0.3rem; padding-bottom: 0.3rem; margin-top: 2rem;}
.taglineblock {width: 100%; background-color: white; color: 36474F;}

.textblock > h5 {font-size: 20pt; text-align: center; margin-top: 1rem; margin-bottom: 0.75rem;}
.textblock {margin: auto; width: 50%; font-size: 16pt; text-align: justify; line-height: 150%;}

.footer {margin-top: 5rem;}
.tiny {font-size: 12pt; margin-top: 1rem;}

@media (max-width: 50rem)
{
	.tagline {width: 90%; margin: auto; margin-top: 1rem;}
	.textblock {width: 90%; margin-bottom: 0rem;}
	.tiny {width: 90%; margin: auto; margin-top: 1rem;}
	hr {width: 80%;}
	.footer {margin-top: 0rem;}
}